{{>partials/header}}

    <h1>Cadastro - Etapa 3</h1>
    <form action="/etapa3" method="POST">
        <label>RG:</label>
        <input type="text" name="rg" required>
        <br>

        <label>Telefone Residencial:</label>
        <input type="text" name="telefone_residencial">
        <br>

        <label>Telefone Celular:</label>
        <input type="text" name="telefone_celular" required>
        <br>

        <label>Observações:</label>
        <textarea name="observacoes"></textarea>
        <br>

        <button type="submit">Finalizar</button>
    </form>


{{>partials/footer}}