{{>partials/header}}

 <div class="form-container">
        <h2>Etapa 2: Endereço</h2>
        <input type="text" id="endereco" placeholder="Endereço" required>
        <input type="text" id="cidade" placeholder="Cidade" required>
        <button onclick="nextStep()">Próximo</button>
        <!-- Botão Voltar -->
        <button onclick="previousStep()">Voltar</button>
    </div>

{{>partials/footer}}