{{>partials/header}}

<form action="/etapa1" method="POST">
  <input type="text" id="nome" name="nome" placeholder="Nome" required>
  <input type="email" id="email" name="email" placeholder="E-mail" required>
  <button type="submit">Próximo</button>
</form>

{{>partials/footer}}
