{{>partials/header}}

<form action="/etapa2" method="POST">
  <input type="text" id="endereco" name="endereco" placeholder="Endereço" required>
  <input type="text" id="cidade" name="cidade" placeholder="Cidade" required>
  <button type="submit">Próximo</button>
</form>
{{>partials/footer}}