{{>partials/header}}

    <h1>Cadastro - Etapa 1</h1>
    <form action="/etapa1" method="POST">
        <label>Nome:</label>
        <input type="text" name="nome" required>
        <br>

        <label>Sexo:</label>
        <select name="sexo">
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
        </select>
        <br>

        <label>Email:</label>
        <input type="email" name="email" required>
        <br>

        <label>Data de Nascimento:</label>
        <input type="date" name="data_nascimento" required>
        <br>

        <button type="submit">Próxima Etapa</button>
    </form>

{{>partials/footer}}
