{{>partials/header}}

<style>
    .card .img-thumbnail.position-absolute {
      top: 10px;
      right: 10px;
      width: 23%;
      margin: 60px;
    }
  </style>

<div class="container my-4">
    <h1 class="text-center mb-4">Cadastro de Paciente - Podologia</h1>
    <form action="/teste" method="POST">
    <!-- ETAPA 1: Dados Pessoais -->
    <div id="etapa1" class="step active">
      <div class="card">
        <div class="card-header fs-4">
          DADOS PESSOAIS
        </div>
        <div class="card-body">
        
          <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" name="nome" required placeholder="Nome do Paciente">
          </div>

          <div class="mb-3">
            <label for="endereco" class="form-label">Endereço:</label>
            <input type="text" class="form-control" name="endereco" placeholder="Endereço do Paciente">
          </div>

          <div class="row">
            <div class="col-md-4">
              <label for="bairro" class="form-label">Bairro:</label>
              <input type="text" class="form-control" name="bairro" placeholder="Bairro">
            </div>
            <div class="col-md-4">
              <label for="cidade" class="form-label">Cidade:</label>
              <input type="text" class="form-control" name="cidade" placeholder="Cidade">
            </div>
            <div class="col-md-4">
              <label for="estado" class="form-label">Estado:</label>
              <input type="text" class="form-control" name="estado" placeholder="Estado">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <label for="cep" class="form-label">CEP:</label>
              <input type="text" class="form-control" name="cep" placeholder="CEP">
            </div>
            <div class="col-md-4">
              <label for="telefone_residencial" class="form-label">Tel.Res (Opcional):</label>
              <input type="text" class="form-control" name="telefone_residencial" placeholder="Telefone residencial">
            </div>
            <div class="col-md-4">
              <label for="telefone_celular" class="form-label">Celular:</label>
              <input type="text" class="form-control" name="telefone_celular" placeholder="Telefone celular">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" name="email" placeholder="exemplo@gmail.com">
            </div>
            <div class="col-md-4">
              <label for="data_nascimento" class="form-label">Data Nascimento:</label>
              <input type="date" class="form-control" name="data_nascimento">
            </div>
            <div class="col-md-4">
              <label for="sexo" class="form-label">Sexo:</label>
              <div class="d-flex">
                <div class="form-check me-3">
                  <input class="form-check-input" type="radio" name="sexo" id="sexoM" value="Masculino">
                  <label class="form-check-label" for="sexoM">Masculino</label>
                </div>
                <div class="form-check me-3">
                  <input class="form-check-input" type="radio" name="sexo" id="sexoF" value="Feminino">
                  <label class="form-check-label" for="sexoF">Feminino</label>
                </div>
                <div class="form-check me-3">
                  <input class="form-check-input" type="radio" name="sexo" id="sexoN" value="Prefiro não informar">
                  <label class="form-check-label" for="sexoN">Prefiro não informar</label>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="mb-3">
            <label for="trabalho" class="form-label">Qual sua profissão:</label>
            <input type="text" class="form-control" name="trabalho" placeholder="Nome da profissão">
          </div>
          <div class="d-flex justify-content-end">
          </div>
        </div>
      </div>
    </div>


<br>


    <!-- ETAPA 2: Dados Gerais -->
    <div id="etapa2" class="step">
      <div class="card">
        <div class="card-header fs-4">DADOS GERAIS</div>
        <div class="card-body">
          <div class="mb-3">
            <label for="podologo" class="form-label">Costuma ir ao podólogo?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="visita_podologo" id="sim" value="Sim">
              <label class="form-check-label" for="sim">Sim</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="visita_podologo" id="nao" value="Não">
              <label class="form-check-label" for="nao">Não</label>
            </div>
            <label for="frequencia" class="form-label">Qual a frequência?</label>
            <input type="text" class="form-control" name="frequencia_podologo" id="frequencia_podologo" placeholder="Informe a frequência">
          </div>

          <div class="mb-3">
            <label for="medicamento" class="form-label">Faz uso de algum medicamento? Qual?</label>
            <input type="text" class="form-control" name="medicamento" id="medicamento" placeholder="Qual o(s) medicamento(s)">
          </div>

          <div class="mb-3">
            <label for="alergico" class="form-label">Alérgico?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="alergico" id="simAlergico" value="Sim">
              <label class="form-check-label" for="simAlergico">Sim</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="alergico" id="naoAlergico" value="Não">
              <label class="form-check-label" for="naoAlergico">Não</label>
            </div>
            <label for="substancias" class="form-label">Quais substâncias?</label>
            <input type="text" class="form-control" name="substancias" id="substancias" placeholder="Informe a(s) substâncias">
          </div>

          <div class="mb-3">
            <label for="posicao" class="form-label">Posição de trabalho:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posicao_trabalho" id="emPe" value="Em pé">
              <label class="form-check-label" for="emPe">Em pé</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posicao_trabalho" id="sentado" value="Sentado">
              <label class="form-check-label" for="sentado">Sentado</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posicao_trabalho" id="andando" value="Andando">
              <label class="form-check-label" for="andando">Andando</label>
            </div>
            <label for="duracao" class="form-label">Duração:</label>
            <input type="text" class="form-control" name="duracao" id="duracao" placeholder="Digite a duração; Ex: 3hr; 40min">
          </div>

          <div class="mb-3">
            <label for="tempo_trabalho" class="form-label">Passa a maior parte do tempo:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="maior_tempo" id="tempoEmPe" value="Em pé">
              <label class="form-check-label" for="tempoEmPe">Em pé</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="maior_tempo" id="tempoSentado" value="Sentado">
              <label class="form-check-label" for="tempoSentado">Sentado</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="maior_tempo" id="tempoAndando" value="Andando">
              <label class="form-check-label" for="tempoAndando">Andando</label>
            </div>
          </div>

          <div class="mb-3">
            <label for="calcado" class="form-label">N° Calçado:</label>
            <input type="number" class="form-control" name="ncalcado" id="ncalcado" placeholder="Número">
          </div>

          <div class="mb-3">
            <label for="tipoCalcado" class="form-label">Tipo de calçado diário:</label>
            <input type="text" class="form-control" name="tipo_calcado" id="tipo_calcado" placeholder="Tipo do Calçado">
          </div>

          <div class="mb-3">
            <label for="palmilha" class="form-label">Faz uso de palmilha?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="uso_palmilha" id="simPalmilha" value="Sim">
              <label class="form-check-label" for="simPalmilha">Sim</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="uso_palmilha" id="naoPalmilha" value="Não">
              <label class="form-check-label" for="naoPalmilha">Não</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="uso_palmilha" id="ortopedica" value="Ortopédica">
              <label class="form-check-label" for="ortopedica">Ortopédica</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="uso_palmilha" id="descanso" value="Descanso">
              <label class="form-check-label" for="descanso">Descanso</label>
            </div>
          </div>

          <div class="mb-3">
            <label for="fumante" class="form-label">É fumante?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="fumante" id="simFumante" value="Sim">
              <label class="form-check-label" for="simFumante">Sim</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="fumante" id="naoFumante" value="Não">
              <label class="form-check-label" for="naoFumante">Não</label>
            </div>
          </div>

          <div class="mb-3">
            <label for="menstrual" class="form-label">Ciclo menstrual em dia?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ciclo_menstrual_regular" id="simRegulado" value="Sim">
              <label class="form-check-label" for="simRegulado">Sim</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="ciclo_menstrual_regular" id="naoRegulado" value="Não">
              <label class="form-check-label" for="naoRegulado">Não</label>
            </div>
            <label for="dum" class="form-label">DUM (Data da última menstruação):</label>
            <input type="date" class="form-control" name="dum" id="dum">
          </div>

          <div class="mb-3">
            <label for="gestante" class="form-label">Está gestante?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gestante" id="simGestante" value="Sim">
              <label class="form-check-label" for="simGestante">Sim</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gestante" id="naoGestante" value="Não">
              <label class="form-check-label" for="naoGestante">Não</label>
            </div>
            <label for="amamentando" class="form-label">Está amamentando?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="amamentando" id="simAmamentando" value="Sim">
              <label class="form-check-label" for="simAmamentando">Sim</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="amamentando" id="naoAmamentando" value="Não">
              <label class="form-check-label" for="naoAmamentando">Não</label>
            </div>
          </div>

          <div class="mb-3">
            <label for="atividade" class="form-label">Pratica Atividade física?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="pratica_atividade_fisica" id="simAtividade" value="Sim">
              <label class="form-check-label" for="simAtividade">Sim</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="pratica_atividade_fisica" id="naoAtividade" value="Não">
              <label class="form-check-label" for="naoAtividade">Não</label>
            </div>
            <div class="row mt-2">
              <div class="col-md-6 d-flex align-items-center">
                <label for="frequenciaE" class="form-label me-2">Frequência?</label>
                <input type="text" class="form-control" name="frequencia_atividade_fisica" id="frequencia_atividade_fisica" placeholder="Frequência por semana">
              </div>
              <div class="col-md-6 d-flex align-items-center">
                <label for="esporte" class="form-label me-2">Qual esporte e tipo de calçado?</label>
                <input type="text" class="form-control" name="esporte" id="esporte" placeholder="Esporte e tipo de calçado">
              </div>
            </div>
            <div class="mt-2">
              <label for="queixa" class="form-label">Queixa principal:</label>
              <textarea class="form-control" name="queixa" id="queixa" placeholder="Informe sua queixa principal"></textarea>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" onclick="prevStep(2)">Voltar</button>
          <button type="button" class="btn btn-primary" onclick="nextStep(2)">Próximo</button>
          </div>
        </div>
      </div>
    </div>





    <!-- ETAPA 3: Dados Clínicos -->
    <div id="etapa3" class="step">
      <div class="card">
        <div class="card-header fs-4">DADOS CLÍNICOS</div>
        <div class="card-body">
          <div class="mb-4">
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="hipertirioidismo" id="hipertiroidismo" value="Sim">
              <label class="form-check-label" for="hipertiroidismo">Hipertirioidismo</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="renal" id="renal" value="Sim">
              <label class="form-check-label" for="renal">Renal</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="epilepsia" id="epilepsia" value="Sim">
              <label class="form-check-label" for="epilepsia">Epilepsia</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="quimioterapia_ou_radioterapia" id="quimioterapia_ou_radioterapia" value="Sim">
              <label class="form-check-label" for="quimioterapia_ou_radioterapia">Quimioterapia / Radioterapia</label>
            </div>
          </div>
          
          <div class="mb-4">
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="osteoporose" id="osteoporose" value="Sim">
              <label class="form-check-label" for="osteoporose">Osteoporose</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="hipotiroidismo" id="hipotiroidismo" value="Sim">
              <label class="form-check-label" for="hipotiroidismo">Hipotiroidismo</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="neuropatia" id="neuropatia" value="Sim">
              <label class="form-check-label" for="neuropatia">Neuropatia</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="hepatite" id="hepatite" value="Sim">
              <label class="form-check-label" for="hepatite">Hepatite</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="antecedentes_oncologicos" id="antecedentes_oncologicos" value="Sim">
              <label class="form-check-label" for="antecedentes_oncologicos">Antecedentes Oncológicos</label>
            </div>
          </div>
          
          <div class="mb-4">
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="cardiopatia" id="cardiopatia" value="Sim">
              <label class="form-check-label" for="cardiopatia">Cardiopatia</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="hipertensao" id="hipertensao" value="Sim">
              <label class="form-check-label" for="hipertensao">Hipertensão</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="reumatismo" id="reumatismo" value="Sim">
              <label class="form-check-label" for="reumatismo">Reumatismo</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="hanseniase" id="hanseniase" value="Sim">
              <label class="form-check-label" for="hanseniase">Hanseniase</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="cirurgia_mmii" id="cirurgia_mmii" value="Sim">
              <label class="form-check-label" for="cirurgia_mmii">Cirurgia MMII</label>
            </div>
          </div>
          
          <div class="mb-4">
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="marca_passo" id="marca_passo" value="Sim">
              <label class="form-check-label" for="marca_passo">Marca Passo</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="hipotensao" id="hipotensao_clinico" value="Sim">
              <label class="form-check-label" for="hipotensao_clinico">Hipotensão</label>
            </div>
            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" name="comprometimento_vascular" id="comprometimento_vascular" value="Sim">
              <label class="form-check-label" for="comprometimento_vascular">Alterações ou Comprometimento Vasculares</label>
            </div>
          </div>

          <div class="mb-4">
            <label for="diabetes" class="form-label">Diabetes:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="diabetes" id="simDiabetes" value="Sim">
              <label class="form-check-label" for="simDiabetes">Sim</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="diabetes" id="naoDiabetes" value="Não">
              <label class="form-check-label" for="naoDiabetes">Não</label>
            </div>
            <label for="taxa_glicemica" class="form-label">Taxa Glicêmica:</label>
            <input type="number" class="form-control" name="taxa_glicemica" id="taxa_glicemica" placeholder="Informe Taxa Glicêmica">
            <label for="data_ultima_verificacao" class="form-label">Data da última Verificação:</label>
            <input type="date" class="form-control" name="data_ultima_verificacao" id="data_ultima_verificacao">
          </div>

          <div class="mb-4">
            <label for="insulina" class="form-label">Insulina:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="insulina" id="simInsulina" value="Sim">
              <label class="form-check-label" for="simInsulina">Sim</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="insulina" id="naoInsulina" value="Nao">
              <label class="form-check-label" for="naoInsulina">Não</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="insulina" id="injetavel" value="Injetável">
              <label class="form-check-label" for="injetavel">Injetável</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="insulina" id="viaOral" value="Via Oral">
              <label class="form-check-label" for="viaOral">Via Oral</label>
            </div>
          </div>

          <div class="mb-4">
            <label for="dieta_hidrica" class="form-label">Dieta Hídrica:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dieta_hidrica" id="simDietaHidrica" value="Sim">
              <label class="form-check-label" for="simDietaHidrica">Sim</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dieta_hidrica" id="naoDietaHidrica" value="Não">
              <label class="form-check-label" for="naoDietaHidrica">Não</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="dieta_hidrica" id="dietaAlimentar" value="Dieta Alimentar" >
              <label class="form-check-label" for="dietaAlimentar">Dieta Alimentar</label>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" onclick="prevStep(3)">Voltar</button>
          <button type="button" class="btn btn-primary" onclick="nextStep(3)">Próximo</button>
          </div>
        </div>
      </div>
    </div>





    <!-- ETAPA 4: Alterações e Lesões dos Pés -->
    <div id="etapa4" class="step">
      <div class="card position-relative">
        <div class="card-header fs-4">DESCRIÇÃO DO PÉ</div>
        <div class="card-body">
          <label class="fs-4" for="DEDOS">DEDOS:</label>
          <img src="/public/images/TiposDePisadas.jpg" alt="Tipos de Pisadas" class="img-thumbnail position-absolute">
          <div class="mb-3">
            <label for="dedo_flexivel" class="form-label">Flexível:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="dedo_flexivelD" id="direitoFlex" value="Sim">
              <label class="form-check-label" for="direitoFlex">Direito</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="dedo_flexivelE" id="esquerdoFlex" value="Sim">
              <label class="form-check-label" for="esquerdoFlex">Esquerdo</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="dedo_rigido" class="form-label">Rígido:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="dedo_rigidoD" id="direitoRigido" value="Sim">
              <label class="form-check-label" for="direitoRigido">Direito</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="dedo_rigidoE" id="esquerdoRigido" value="Sim">
              <label class="form-check-label" for="esquerdoRigido">Esquerdo</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="dedo_espalmado" class="form-label">Espalmado:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="dedo_espalmadoD" id="direitoEspalmado" value="Sim">
              <label class="form-check-label" for="direitoEspalmado">Direito</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="dedo_espalmadoE" id="esquerdoEspalmado" value="Sim">
              <label class="form-check-label" for="esquerdoEspalmado">Esquerdo</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="dedo_martelo" class="form-label">Martelo:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="dedo_marteloD" id="direitoMartelo" value="Sim">
              <label class="form-check-label" for="direitoMartelo">Direito</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="dedo_marteloE" id="esquerdoMartelo" value="Sim">
              <label class="form-check-label" for="esquerdoMartelo">Esquerdo</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="queda_metatarso" class="form-label">Queda de Metatarso:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="queda_metatarsoD" id="direitoQM" value="Sim">
              <label class="form-check-label" for="direitoQM">Direito</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="queda_metatarsoE" id="esquerdoQM" value="Sim">
              <label class="form-check-label" for="esquerdoQM">Esquerdo</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="tipo_marcha" class="form-label">Tipo de Marcha:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tipo_marcha" id="normalMarcha" value="Normal">
              <label class="form-check-label" for="normalMarcha">Normal</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tipo_marcha" id="patologicaMarcha" value="Patológica">
              <label class="form-check-label" for="patologicaMarcha">Patológica</label>
            </div>
            <div class="col-md-3 d-flex align-items-center mt-2">
              <label for="qual_tipo_marcha" class="form-label me-2">Qual?</label>
              <input type="text" class="form-control" name="qual_tipo_marcha" id="qual_tipo_marcha" placeholder="Tipo de marcha">
            </div>
          </div>
          <div class="mb-3">
            <label for="joelho" class="form-label">Joelho:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="joelho" id="jnormal" value="Normal">
              <label class="form-check-label" for="jnormal">Normal</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="joelho" id="valgo" value="Valgo">
              <label class="form-check-label" for="valgo">Valgo</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="joelho" id="varo" value="Varo">
              <label class="form-check-label" for="varo">Varo</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="articulacao" class="form-label">Articulação:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="articulacao" id="retrope" value="Retropé">
              <label class="form-check-label" for="retrope">Retropé</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="articulacao" id="chopart" value="Chopart">
              <label class="form-check-label" for="chopart">Chopart</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="articulacao" id="mediope" value="Mediopé">
              <label class="form-check-label" for="mediope">Mediopé</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="articulacao" id="lisfranc" value="Lisfranc">
              <label class="form-check-label" for="lisfranc">Lisfranc</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="articulacao" id="antepe" value="Antepé">
              <label class="form-check-label" for="antepe">Antepé</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="sensibilidade_a_dor" class="form-label">Sensibilidade a dor:</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sensibilidade_dor" id="diminuida" value="Diminuída">
              <label class="form-check-label" for="diminuida">Diminuída</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sensibilidade_dor" id="Snormal" value="Normal">
              <label class="form-check-label" for="Snormal">Normal</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="sensibilidade_dor" id="aumentada" value="Aumentada">
              <label class="form-check-label" for="aumentada">Aumentada</label>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" onclick="prevStep(4)">Voltar</button>
          <button type="button" class="btn btn-primary" onclick="nextStep(4)">Próximo</button>
          </div>
        </div>
      </div>
    </div>





    <!-- ETAPA 5: Formato das Unhas e Artelhos -->
    <div id="etapa5" class="step">
      <div class="card">
        <div class="card-header text-center fs-4">Formato das Unhas e Artelhos</div>
        <div class="card-body text-center">
          <div class="unhas-imagem mb-3">
            <img src="/public/images/FormatoDaUnha3.png" alt="Formato das Unhas" class="img-fluid">
          </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Formato</th>
                  <th>Opção</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Involuta</td>
                  <td><input type="radio" name="involuta" value="Sim"></td>
                </tr>
                <tr>
                  <td>Telha</td>
                  <td><input type="radio" name="telha" value="Sim"></td>
                </tr>
                <tr>
                  <td>Funil</td>
                  <td><input type="radio" name="funil" value="Sim"></td>
                </tr>
                <tr>
                  <td>Gancho</td>
                  <td><input type="radio" name="gancho" value="Sim"></td>
                </tr>
                <tr>
                  <td>Caracol</td>
                  <td><input type="radio" name="caracol" value="Sim"></td>
                </tr>
                <tr>
                  <td>Torquês</td>
                  <td><input type="radio" name="torques" value="Sim"></td>
                </tr>
                <tr>
                  <td>Normal</td>
                  <td><input type="radio" name="normal" value="Sim"></td>
                </tr>
                <tr>
                  <td>Cunha</td>
                  <td><input type="radio" name="cunha" value="Sim"></td>
                </tr>
              </tbody>
            </table>
            <div class="mb-3">
              <label for="artelhos" class="form-label">Artelhos:</label>
              <div class="artelhos-container">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="onicoatrofia" value="Sim">
                  <label class="form-check-label" for="onicoatrofia">Onicoatrofia</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="onicocriptose" value="Sim">
                  <label class="form-check-label" for="onicocriptose">Onicocriptose</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="onicorrexe" value="Sim">
                  <label class="form-check-label" for="onicorrexe">Onicorrexe</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="granuloma" value="Sim">
                  <label class="form-check-label" for="granuloma">Granuloma</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="onicogrifose" value="Sim">
                  <label class="form-check-label" for="onicogrifose">Onicogrifose</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="onicolise" value="Sim">
                  <label class="form-check-label" for="onicolise">Onicolise</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="onicofose" value="Sim">
                  <label class="form-check-label" for="onicofose">Onicofose</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="onicomicose" value="Sim">
                  <label class="form-check-label" for="onicomicose">Onicomicose</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="psoriase_ungueal" value="Sim">
                  <label class="form-check-label" for="psoriase_ungueal">Psoríase Ungueal</label>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="observacoes_unha" class="form-label">Outras alterações ungueais:</label>
              <textarea class="form-control" id="observacoes_unha" placeholder="Informe outras alterações"></textarea>
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" onclick="prevStep(5)">Voltar</button>
                <button type="button" class="btn btn-primary" onclick="nextStep(5)">Próximo</button>
            </div>
        </div>
      </div>
    </div>





<!-- ETAPA 6: Alterações e Lesões -->
<div id="etapa6" class="step">
    <div class="card">
      <div class="card-header" style="font-size: 1.5rem;">Alterações e Lesões</div>
      <div class="card-body">
          <div class="form-group mb-3">
            <label>
              <input type="checkbox" name="bromidrose" value="Sim"> Bromidrose
            </label>
            <label>
              <input type="checkbox" name="hidrose" value="Sim"> Hidrose
            </label>
            <label>
              <input type="checkbox" name="desidrose" value="Sim"> Desidrose
            </label>
            <label>
              <input type="checkbox" name="isquemia" value="Sim"> Isquemia
            </label>
            <label>
              <input type="checkbox" name="mal_perfurante" value="Sim"> Mal Perfurante
            </label>
            <label>
              <input type="checkbox" name="edema" value="Sim"> Edema
            </label>
            <label>
              <input type="checkbox" name="tinea" value="Sim"> Tinea
            </label>
            <label>
              <input type="checkbox" name="psoriase" value="Sim"> Psoríase
            </label>
            <label>
              <input type="checkbox" name="tungiase" value="Sim"> Tungíase
            </label>
            <label>
              <input type="checkbox" name="fissuras" value="Sim"> Fissuras
            </label>
          </div>
          <div class="form-group mb-3">
            <label>Perfusão PD:</label>
            <label>
              <input type="radio" name="perfusao_pe_direito" value="Normal"> Normal
            </label>
            <label>
              <input type="radio" name="perfusao_pe_direito" value="Pálido"> Pálido
            </label>
            <label>
              <input type="radio" name="perfusao_pe_direito" value="Cianótico"> Cianótico
            </label>
          </div>
          <div class="form-group mb-3">
            <label>Perfusão PE:</label>
            <label>
              <input type="radio" name="perfusao_pe_esquerdo" value="Normal"> Normal
            </label>
            <label>
              <input type="radio" name="perfusao_pe_esquerdo" value="Pálido"> Pálido
            </label>
            <label>
              <input type="radio" name="perfusao_pe_esquerdo" value="Cianótico"> Cianótico
            </label>
          </div>
          <div class="form-group mb-3">
            <label>
              <input type="checkbox" name="verruga_plantar" value="Sim"> Verruga Plantar
            </label>
            <label>
              <input type="checkbox" name="calo_dorsal" value="Sim"> Calo Dorsal
            </label>
            <label>
              <input type="checkbox" name="calo_plantar" value="Sim"> Calo Plantar
            </label>
            <label>
              <input type="checkbox" name="hiperqueratose" value="Sim"> Hiperqueratose
            </label>
            <label>
              <input type="checkbox" name="calo_interdigital" value="Sim"> Calo Interdigital
            </label>
          </div>
          <div class="form-group mb-3">
            <label>Já teve ou apresenta Erisipela?</label>
            <label>
              <input type="radio" name="erisipela" value="Sim"> Sim
            </label>
            <label>
              <input type="radio" name="erisipela" value="Não"> Não
            </label>
          </div>
          <div class="form-group mb-3">
            <label for="observacoes" class="form-label">Outras alterações na pele:</label>
            <textarea class="form-control" id="observacoes" placeholder="Informe outras alterações"></textarea>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" onclick="prevStep(6)">Voltar</button>
            <!-- Botão "Enviar" como type="button" para não submeter o formulário -->
            <!-- Foreign keys -->
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
      </div>
    </div>
  </div>  
</form>
  </div> <!-- fim container -->

  <!-- Bootstrap Bundle with Popper -->
  
  <script>
    // Funções para navegar entre as etapas
    function showStep(stepNumber) {
      // Oculta todas as etapas
      document.querySelectorAll('.step').forEach(function(step) {
        step.classList.remove('active');
      });
      // Mostra a etapa desejada
      document.getElementById('etapa' + stepNumber).classList.add('active');
      // Opcional: rolar para o topo da página
      window.scrollTo(0, 0);
    }

    function nextStep(currentStep) {
      showStep(currentStep + 1);
    }

    function prevStep(currentStep) {
      showStep(currentStep - 1);
    }
  </script>

{{>partials/footer}}